.App {
  background-color: #ffa400;
  text-align: center;
}

header h1 {
  font-family: feud;
}

.blueLogo {
  width: 100px;
  margin-bottom: 0px;
}

.textLogoMobile {
  width: 300px;
  margin-bottom: 10px;
  margin-top: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: feud;
  src: url(../fonts/FEUD.ttf);
}

.loginButton {
  background-color: #0852c3; /* Green */
  border: none;
  color: white;
  margin-top: 30px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.logoutButton {
  background-color: rgb(152, 26, 26); /* Green */
  border: none;
  color: #FFFFF2;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
}

.guessButtonMobile {
  background-color: #0852c3;
  border: none;
  margin: 0 auto;
  color: #FFFFF2;
  padding: 15px 0px;
  width: 20vw;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 10px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.gameOptionsMobile {
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
}
.gameOptionsMobile button {
  background-color: #0852c3; /* Green */
  border: none;
  color: #FFFFF2;
  padding: 0px 0px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 25px;
  cursor: pointer;  
}

.column1, .column2 {
  align-items: center;
  float: left;
}

.enterButton {
  background-color: #0852c3; /* Green */
  border: none;
  color: #FFFFF2;
  padding: 15px 32px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: none;
}

.gameBoardMobile {
  display: none;
  position: relative;
}

.listItem1Mobile, .listItem2Mobile, .listItem3Mobile, .listItem4Mobile, .listItem5Mobile, .listItem6Mobile, .listItem7Mobile, .listItem8Mobile {
  background-color: #3e96f6;
  font-size: 35px;
  color: #FFFFF2;
  width: 48vw;
  margin: 0.5vw;
  height: 50px;
  border: 2px solid #FFFFF2;
}
.correct1Mobile, .correct2Mobile, .correct3Mobile, .correct4Mobile, .correct5Mobile, .correct6Mobile, .correct7Mobile, .correct8Mobile {
  background-color: #0852c3;
  color: #FFFFF2;
  width: 48vw;
  margin: 0.5vw;
  height: 50px;
  border: 2px solid #FFFFF2;
  display: none;
}
.correct1Mobile h2 {
  font-size: 18px;
}
.correct2Mobile h2 {
  font-size: 18px;
}
.correct3Mobile h2 {
  font-size: 18px;
}
.correct4Mobile h2 {
  font-size: 18px;
}
.correct5Mobile h2 {
  font-size: 18px;
}
.correct6Mobile h2 {
  font-size: 18px;
}
.correct7Mobile h2 {
  font-size: 18px;
}
.correct8Mobile h2 {
  font-size: 18px;
}
.ovalMobile {
  width: 20vw;
  margin: 0 auto;
  height: 48px;
  background: #0852c3;
  border-radius: 50%;
  vertical-align: auto;
  border: 1px solid white;
}

.xsMobile {
  position: absolute;
  font-size: 171px;
  color: red;
  height: 212px;
  margin: 0 auto;
  display: none;
}

.artistBlockMobile {
  background-color: #0852c3;
  font-size: 24px;
  color: #FFFFF2;
  margin: 4px;
  width: 75vw;
  height: 75px;
  border: 2px solid #FFFFF2;
  display: none;  
}

.artistImgWrapper {
  width: 75px;
  float: left;
  margin-top: 2.5px;
  display: inline-block;
}

.artistTextWrapper {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}

.artistBlockMobile img {
  height: 70px;
}


.artistBlockMobile h4 {
  margin-bottom: 11px;
  transform: translateY(-50%);
}

h2 {
  color: #FFFFF2;
}

.guessInputMobile {
  width: 45vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 5px solid #0852c3;
  border-radius: 4px;
  display: inline-block;
}

.searchInputMobile {
  width: 60vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 5px solid #0852c3;
  border-radius: 4px;
  display: inline-block;
}

.volumeIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px;
}